# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
.python-version

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# FAISS index 
faiss_index/



